<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosko</title>
    <link rel="stylesheet" href="/CSS/show.css">
</head>
<body>
    <div class="nav">
        <div class="es"></div>
        <div class="header">
            <div class="title">
                <div><%= game.result[0].name %></div>
                <div class="score"><%= game.result[0].score %> : <%= game.result[1].score %></div>
                <div><%= game.result[1].name %></div>
            </div>
        </div>
        <div class="es"></div>
    </div>


    <div class="players">
        <% for (var i = 0; i < 2; i++) { %>
            <% for (var l = 0; l < Object.keys(game.result[i]).length - 5; l++) { %>
                <div>
                    <p>#<%= Object.values(game.result[i])[l].number  %></p>
                    <p><%= Object.values(game.result[i])[l].name  %></p>
                </div>
            <% } %>
        <% } %>
    </div>
    
</body>
</html>